.logoAlura {
   
    padding:  0 20px 0 50px;
    background: #F3F5FC;
}
h1{
    padding: 0 40px 0 0 30px;
    font-weight: bold;
}

main{
padding: 15px;
background:yellowgreen ;

}


.cuadroTexto{
    height: 70px 100px;
    padding:  10px;

}