h1{
    width: 940px;
    margin: 5px 10px 15px 20px ;
    padding: 0 0px 0 0 30px;
    background: yellow;
    font-weight: bold;
}

.logoAlura {
    width: 940px;
    margin: 0px 70px;
    background: none;
}


main{
    width: 940px;
    padding: 15px;
    background:yellowgreen ;

}


.cuadroTexto{
    height: 70px 100px;
    padding:  10px;

}